$header-background-color-top: #3096F7;
$header-background-color-bottom: #0565F6;
$header-font-color: #ffffff;
$header-font-shadow-color: #999999;

$subheader-background-color-top: #666666;
$subheader-background-color-bottom: #333333;

$login-font-color: #ffffff;

$button-background-color: #333333;
$button-font-color: #ffffff;

$body-font-color: #000000;

$tile-background-color: #000000;
$placeholder-font-color: #ffffff;

$footer-background-color: #222222;
$footer-font-color: #CCCCCC;
$copyright-font-color: #999999;
